@import url("https://fonts.googleapis.com/css2?family=Spartan&display=swap");

body {
  font-family: "Spartan", sans-serif;
  font-size: 15px;
}

.image-top-desktop {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 45%;
  height: auto;
}

.image-bottom-desktop {
  position: absolute;
  left: 30%;
  top: 20%;
  width: 70%;
  height: 80%;
}

.main {
  position: relative;
  width: 90%;
  height: 70%;
  margin: 5% 5%;
}

.uppermaindiv {
  display: flex;
  flex-flow: wrap;
}

.maintext {
  display: flex;
  flex-flow: wrap;
  width: 45%;
  height: auto;
  color: hsl(300, 43%, 22%);
}

.maintext .heading {
  width: 55%;
  margin-bottom: 0px;
  font-size: 40px;
}

.maintext .paragraph {
  width: 70%;
  margin-top: 10px;
}

.rectangularCard1 {
  /* position: absolute; */
  display: flex;
  flex-direction: row;
  top: 10px;
  left: 55px;
  width: 70%;
  height: 45px;
  padding: 0px 25px;
  border-radius: 5px;
  background-color: hsl(300, 24%, 96%);
  margin: 20px;
}

.rectangularCard1 .star1 img {
  margin-top: 10px;
  width: 20px;
  height: 20px;
}

.rectangularCard1 .p1 {
  color: hsl(300, 43%, 22%);
  margin-left: 30px;
}

.rectangularCard2 {
  /* position: absolute; */
  display: flex;
  flex-direction: row;
  top: 10px;
  left: 55px;
  width: 80%;
  height: 45px;
  padding: 0px 25px;
  border-radius: 5px;
  background-color: hsl(300, 24%, 96%);
  margin: 20px;
  margin-left: 60px;
}

.rectangularCard2 .star2 img {
  margin-top: 10px;
  width: 20px;
  height: 20px;
}

.rectangularCard2 .p2 {
  color: hsl(300, 43%, 22%);
  margin-left: 30px;
}

.rectangularCard3 {
  /* position: absolute; */
  display: flex;
  flex-direction: row;
  top: 10px;
  left: 55px;
  width: 90%;
  height: 45px;
  padding: 0px 25px;
  border-radius: 5px;
  background-color: hsl(300, 24%, 96%);
  margin: 20px;
  margin-left: 100px;
}

.rectangularCard3 .star3 img {
  margin-top: 10px;
  width: 20px;
  height: 20px;
}

.rectangularCard3 .p3 {
  color: hsl(300, 43%, 22%);
  margin-left: 30px;
}

.lowermaindiv {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
}

.hero-card1 {
  position: relative;
  display: grid;
  grid-template-columns: 90px 1fr;
  grid-template-rows: 45px 45px 1fr;
  width: 350px;
  height: auto;
  margin-top: 70px;
  border-radius: 10px;
  background-color: hsl(300, 43%, 22%);
}

.hero-card1 img {
  width: 50px;
  height: 50px;
  margin: auto;
  border-radius: 50%;
  grid-column: 1/2;
  grid-row: 1/3;
}

.hero-card1 .p1 {
  width: 120px;
  margin-top: 25px;
  margin-bottom: 0px;
  color: hsl(0, 0%, 100%);
  grid-column: 2/3;
  grid-row: 1/2;
}

.hero-card1 .p2 {
  width: 120px;
  margin: 0px;
  color: hsl(333, 80%, 67%);
  grid-column: 2/3;
  grid-row: 2/3;
}

.hero-card1 .p3 {
  padding: 0px 20px 20px 20px;
  margin-top: 0px;
  text-align: justify;
  color: hsl(0, 0%, 100%);
  grid-column: 1/3;
  grid-row: 3/4;
}

.hero-card2 {
  position: relative;
  display: grid;
  grid-template-columns: 90px 1fr;
  grid-template-rows: 45px 45px 1fr;
  width: 350px;
  height: auto;
  margin-top: 70px;
  border-radius: 10px;
  background-color: hsl(300, 43%, 22%);
}

.hero-card2 img {
  width: 50px;
  height: 50px;
  margin: auto;
  border-radius: 50%;
  grid-column: 1/2;
  grid-row: 1/3;
}

.hero-card2 .p1 {
  width: 120px;
  margin-top: 25px;
  margin-bottom: 0px;
  color: hsl(0, 0%, 100%);
  grid-column: 2/3;
  grid-row: 1/2;
}

.hero-card2 .p2 {
  width: 120px;
  margin: 0px;
  color: hsl(333, 80%, 67%);
  grid-column: 2/3;
  grid-row: 2/3;
}

.hero-card2 .p3 {
  padding: 0px 20px 20px 20px;
  margin-top: 0px;
  text-align: justify;
  color: hsl(0, 0%, 100%);
  grid-column: 1/3;
  grid-row: 3/4;
}

.hero-card3 {
  position: relative;
  display: grid;
  grid-template-columns: 90px 1fr;
  grid-template-rows: 45px 45px 1fr;
  width: 350px;
  height: auto;
  margin-top: 70px;
  border-radius: 10px;
  background-color: hsl(300, 43%, 22%);
}

.hero-card3 img {
  width: 50px;
  height: 50px;
  margin: auto;
  border-radius: 50%;
  grid-column: 1/2;
  grid-row: 1/3;
}

.hero-card3 .p1 {
  width: 120px;
  margin-top: 25px;
  margin-bottom: 0px;
  color: hsl(0, 0%, 100%);
  grid-column: 2/3;
  grid-row: 1/2;
}

.hero-card3 .p2 {
  width: 120px;
  margin: 0px;
  color: hsl(333, 80%, 67%);
  grid-column: 2/3;
  grid-row: 2/3;
}

.hero-card3 .p3 {
  padding: 0px 20px 20px 20px;
  margin-top: 0px;
  text-align: justify;
  color: hsl(0, 0%, 100%);
  grid-column: 1/3;
  grid-row: 3/4;
}
